<h2 class = "text-center mt-3"> LISTADO DE PARTICIPANTES  </h2>

<section>
    <div class= "flex-fill text-md-center text-left pt-3">
        <h2>
            <i class="fas fa-tag" id="nombreIco"></i>
            <span> {{ nombre }} </span>
        </h2>
    </div>
        <div id="cabeceraJunta">
            <h4>
                <i class="fas fa-user-tie pr-3"></i>
                <span>Miembros de la Junta </span>
            </h4>   
        </div>
        <div class="d-flex" id="listadoJunta"> 
                <div *ngIf="miembros.length > 0" >
                    <div *ngFor="let miembro of miembros" class="pr-3">
                         {{ miembro.puesto }}
                         <span class="pr-3 pl-3">{{ miembro.nombre }} </span> 
                         <span class="pr-3">{{ miembro.primerApello }} </span>
                    </div>
                </div>
                <div *ngIf="miembros.length == 0" id="no" > No existen participantes </div>                  
        </div>
        <div class="pt-3" id="cabeceraSocios">
            <h4>
                <i class="far fa-id-card pr-3"></i>
                <span>Socios</span>
            </h4>   
        </div>
        <div class="d-flex" id="listadoSocios"> 
                <div *ngIf="socios.length > 0" >
                    <div *ngFor="let socio of socios" class="pr-3">
                         {{ socio.numeroSocio }}
                         <span class="pr-3 pl-3">{{ socio.nombre }} </span> 
                         <span class="pr-3">{{ socio.primerApello }} </span>
                    </div>
                </div> 
                <div *ngIf="socios.length == 0" id="no"> No existen participantes </div>                 
        </div>
        <div class="pt-3" id="cabeceraSocios">
            <h4>
                <i class="fas fa-user-friends pr-3"></i>
                <span>Acompañantes</span>
            </h4>   
        </div>
        <div class="d-flex" id="listadoAcom"> 
                <div *ngIf="acompanantes.length > 0" >
                    <div *ngFor="let acompanante of acompanantes">
                         <span class="pr-3">{{ acompanante.nombre }} </span> 
                         <span class="pr-3">{{ acompanante.primerApello }} </span>
                    </div>
                </div>  
                <div *ngIf="acompanantes.length == 0" id="no" > No existen participantes </div>                
        </div>
        <div class="pt-3" id="cabeceraSocios">
            <h4>
                <i class="far fa-user pr-3"></i>
                <span>Sin relación con la asociación</span>
            </h4>   
        </div>
        <div class="d-flex" id="listadoAcom"> 
            <div *ngIf="personas.length > 0" >
                <div *ngFor="let persona of personas">
                     <span class="pr-3">{{ persona.nombre }} </span> 
                     <span class="pr-3">{{ persona.primerApello }} </span>
                </div>
            </div>
            <div *ngIf="personas.length == 0" id="no" > No existen participantes </div>                   
    </div>
    <div class="d-flex justify-content-center pt-3">
    <a [routerLink]="['/actividades', idActividad ]"  class="btn btn-w btn-white btn-animation-1 mr-5 text-black">volver</a>
    </div>
</section>