<h2 class = "text-center mt-3"> LISTADO DE PARTICIPANTES  </h2>

<section>
    <div class= "flex-fill text-left pt-3">
        <h2>
            <i class="fas fa-tag" id="nombreIco"></i>
            <span> {{ nombre }} </span>
        </h2>
    </div>
    <div class="d-flex">

        <div class="flex-row" id="cabeceraJunta">

        </div>
        <div class="flex-row" id="listadoJunta">
            <div class="flex-column" id="puesto">

            </div>
            <div class="flex-column" id="nombreJ">

            </div>
            <div class="flex-column" id="apellidoJ">

            </div>

        </div>

    </div>
    <div class="d-flex">

        <div class="flex-row" id="cabeceraSocios">

        </div>
        <div class="flex-row" id="listadoSocios">
            <div class="flex-column" id="numeroS">

            </div>
            <div class="flex-column" id="nombreS">

            </div>
            <div class="flex-column" id="apellidoS">

            </div>

        </div>
    </div>

    <div class="d-flex">

        <div class="flex-row" id="cabeceraAcom">

        </div>
        <div class="flex-row" id="listadoAcom">
            <div class="flex-column" id="numeroA">

            </div>
            <div class="flex-column" id="nombreA">

            </div>
            <div class="flex-column" id="apellidoA">

            </div>

        </div>
    </div>
    <div class="d-flex">

        <div class="flex-row" id="cabeceraPer">

        </div>
        <div class="flex-row" id="listadoPer">
            <div class="flex-column" id="numeroP">

            </div>
            <div class="flex-column" id="nombreP">

            </div>
            <div class="flex-column" id="apellidoP">

            </div>

        </div>
    </div>


    
</section>