h1{
    padding-top: 2%;
}

h5{
    padding-left: 17%;
}

#busqueda{
    padding-left: 18%;
    padding-top: 3%;
    padding-right: 10%;
}

#error{
    padding-left: 50%;
}

#mostrando{

    padding-left: 18%;;
}

#listaActividades {
    font-size: 1.5em;
}

#listaActividades li {
    list-style: none;
    position: relative;
    height: 60px;
    padding-left: 18%;
    padding-top: 1%;
}


#listaActividades .nombreActividad {
    position: absolute;
    left: 270px;
    top: 9px;
    font-weight: 500;
    padding-left: 18%;
}

.actividadPasada>* {
    color: gray;
}

.fechaActividad{
    padding-top: 5%;
}

@media (max-width: 700px){

    #busqueda{
        padding-left: 8%;
        padding-top: 3%;
        padding-right: 18%;
    }

    #mostrando{
        font-size: smaller;
        padding-left: 2%;
        margin-top: -5%;
    }
    #listaActividades {
        font-size: smaller;
    }

    #listaActividades li {
        list-style: none;
        position: relative;
        height: 50%;
        padding-left: 5%;
        padding-top: 1%;
    }

    #listaActividades .nombreActividad {
        position: absolute;
        left: 150px;
        top: 3px;
        font-weight: 500;
        padding-left: 7%;
    }

    .fechaActividad{
        padding-top: 5%;
        padding-left: 3%;
    }

    #error{
        padding-left: 8%;
        padding-right: 10%;
        font-size: smaller;
    }
}

